# macOS
.DS_Store

# Data excluded for license
# data/raw/*
# data/interim/*
# data/processed/*
# !data/raw/.gitkeep
# !data/interim/.gitkeep
# !data/processed/.gitkeep



# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/
.env
bmob/

# Jupyter
.ipynb_checkpoints/
notebooks/test.ipynb


# Data (keep structure, not raw files)
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Results
results/*
!results/figures/.gitkeep
!results/tables/.gitkeep

# IDEs
.vscode/
.idea/

